Body {  
  font-family: Calibri, Helvetica, sans-serif;  
   background-image: url('../images/background.jpg');

}  

h1 {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: xx-large;
}

button {   
	  justify-content: center;
       background-color: rgb(64, 0, 64);   
       width: 100%;  
        color: white;   
        padding: 15px;   
        margin: 10px 0px;   
        border: none;   
        cursor: pointer;   
         }  
          
 form {   
        border: 1px solid rgb(64, 0, 64);
 		width: 35%;
 		margin: 0 auto;
    }   
 input[type=text], input[type=password] {  
 	justify-content: center;  
        width: 100%;   
        margin: 8px 0;  
        padding: 12px 20px;   
        display: inline-block;   
        border: 2px solid rgb(64, 0, 64);   
        box-sizing: border-box;   
    }  
 button:hover {   
        opacity: 0.7;   
    }   
   
        
     
 .container {   
  		  
  justify-content: center;
        padding: 15px;   
        background-color: rgb(255, 255, 255);  
    }   